@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@model IEnumerable<MVC_API_Call.Models.Animal>

<h2>All Animal</h2>
<hr />
<ol>
    @foreach (var animal in Model)
    {
        <li>
            <ul>
                <li>Section: @Html.DisplayFor(modelAnimal => animal.Name)</li>
            </ul>
            <br>
        </li>
    }
</ol>